/* Fall Fest */

.fall-fest {
  background-image: url(../assets/midtown-poster.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.fall-fest-two {
  background-image: url(../assets/midtown-poster-two.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.fall-fest-three {
  background-image: url(../assets/midtown-poster-three.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* House of Grace */

.house-of-grace {
  background-image: url(../assets/house-of-grace.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.house-of-grace-two {
  background-image: url(../assets/house-of-grace-two.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.house-of-grace-three {
  background-image: url(../assets/house-of-grace-three.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}


/* Healthy Food Access */

.healthy-food {
  background-image: url(../assets/healthy-food.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.healthy-food-two {
  background-image: url(../assets/healthy-food-two.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.healthy-food-three {
  background-image: url(../assets/healthy-food-three.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* Whiskey City */

.wc {
  background-image: url(../assets/whiskey-city-geofilter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.wc-two {
  background-image: url(../assets/whiskey-city-geofilter-two.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.wc-three {
  background-image: url(../assets/whiskey-city-geofilter-three.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}


/* Ruler Foods */

.ruler-site {
  background-image: url(../assets/ruler-website.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.ruler-site-two {
  background-image: url(../assets/ruler-website-two.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.ruler-site-three {
  background-image: url(../assets/ruler-website-three.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* Indy Zoo Snapchat */

.zoo-geofilter {
  background-image: url(../assets/zoo-snapchat-geofilter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.zoo-geofilter-two {
  background-image: url(../assets/zoo-snapchat-geofilter-two.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.zoo-geofilter-three {
  background-image: url(../assets/zoo-snapchat-geofilter-three.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* Indy Zoo */

.zoo-site {
  background-image: url(../assets/zoo-site.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.zoo-site-two {
  background-image: url(../assets/zoo-site-two.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.zoo-site-three {
  background-image: url(../assets/zoo-site-three.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* Next Level Jobs */

.next-level {
  background-image: url(../assets/next-level-digital.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.next-level-two {
  background-image: url(../next-level-digital-two/NextLevel336x280-ipadguy-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.next-level-three {
  background-image: url(../next-level-digital-three/teengirl-336x280Image2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* Shapiros Digital */

.shapiros-digital {
  background-image: url(../assets/shapiros-digital.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.shapiros-digital-two {
  background-image: url(../shapiros-digital-two/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.shapiros-digital-three {
  background-image: url(../shapiros-digital-three/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* BMV Security - Digital */

.bmv-digital {
  background-image: url(../assets/bmv-digital.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.bmv-digital-two {
  background-image: url(../bmv-digital-two/FrameOneBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.bmv-digital-three {
  background-image: url(../bmv-digital-three/FrameOneBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* Whites Website */

.whites-web {
  background-image: url(../assets/whites-web.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.whites-web-two {
  background-image: url(../assets/whites-web-two.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.whites-web-three {
  background-image: url(../assets/whites-web-three.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* Tracey Ashley - Event Poster */

.tracey-ashley {
  background-image: url(../assets/tracey-ashley.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.tracey-ashley-two {
  background-image: url(../assets/tracey-ashley-two.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.tracey-ashley-three {
  background-image: url(../assets/tracey-ashley-three.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* Paw's Pantry - Event Poster */

.paws-pantry {
background-image: url(../assets/paws-pantry.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: 50% 50%;
}

.paws-pantry-two {
background-image: url(../assets/paws-pantry-two.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: 50% 50%;
}

.paws-pantry-three {
background-image: url(../assets/paws-pantry-three.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: 50% 50%;
}

/* Greenwood - Snapchat */

.greenwood-geofilter {
background-image: url(../assets/greenwood-geofilter.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: 50% 50%;
}

.greenwood-geofilter-two {
background-image: url(../assets/greenwood-geofilter_two.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: 50% 50%;
}

.greenwood-geofilter-three {
background-image: url(../assets/greenwood-geofilter_three.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: 50% 50%;
}

/* ARA Project - Website */

.ara-project {
  background-image: url(../assets/#);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.ara-project-two {
background-image: url(../assets/#);
background-repeat: no-repeat;
background-size: cover;
background-position: 50% 50%;
}

.ara-project-three {
background-image: url(../assets/#);
background-repeat: no-repeat;
background-size: cover;
background-position: 50% 50%;
}

/* First Merchants Bank */

.first-merchants-digital {
  background-image: url(../assets/#);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.first-merchants-digital-two {
  background-image: url(../assets/#);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.first-merchants-digital-three {
  background-image: url(../assets/#);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
